.furtree {
    fill: green;
}

.star {
    fill: gold;
}

@keyframes glow {
    0% {
        fill-opacity: 0;
    }

    100% {
        fill-opacity: 0.8;
    }
}

.decoration {

    fill-opacity: 0.8;
    animation: glow 5s infinite alternate;
}

.red {
    fill: red;
}

.yellow {
    fill: yellow;
}

.blue {
    fill: blue;
}